*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
    box-sizing: border-box;
}
body{
    background: #fff5f4;

}

/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 8px;
}
.logo{
    width: 22%;
    height: 80px;
    overflow: hidden;
    margin-left: 20px;
}
.logo .img-logo{
    background-size: cover;
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
}
nav li{
    list-style: none;
    display: inline;
    margin:auto;
    padding: 22px;
}
nav li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
nav li a:hover{
    color: #ff6364;
}
nav li a i{
    font-size: 0.8em;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 80%;
    transform: translateX(-50%);
    background-color: #fff;
    min-width: 200px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    /* text-align: center; */
    overflow: hidden;
    /* border-collapse: collapse; */
}

/* Dropdown items */
.dropdown-menu li {
    padding: 12px;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown links */
.dropdown-menu li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding-left: 18px;
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;   
}

.dropdown:hover .dropdown-menu li:hover{
    background-color: #3f444b;
}

.dropdown:hover .dropdown-menu a:hover{
    color: #fff;
    font-weight: 500;
}
.dropdown:hover i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.home{
    color: #ff6364;
}
.searchbar{
    height: auto;
    width: 10%;
    font-size: 1.8em;
    color: #ff6364;
    cursor: pointer;   
    font-weight: 1200;
    margin-top: 10px;
}
.searchbar:hover{
    color: #000;
}

/* main section */
.header{
    height: 80%;
    width: 100%;
    margin-top: 7%;
}
.container{
    height: auto;
    width: 30%;
    margin-left: 25%;
}
.heading{
    font-size: 4em;
    line-height: 1;
    margin: 0;
    padding: 0;
    letter-spacing: 2;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}
.header-text{
    font-size: 1.6em;
    font-weight: 300;
    line-height: 30px;
    width: 90%;
    margin: 30px 0;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.selected{
    height: 60px;
    display: inline-block;
    color: #fffff5;
    background-color: #ff6364;
    border: none;
    font-size: 17px;
    padding: 20px 40px 20px 40px;
    font-weight: 600;
    margin-right: 5px;
    text-align: center;
    box-shadow: 12px 12px 19px 0 rgba(82.99999999999999, 82.99999999999999, 82.99999999999999, 0.25);
}
.selected:hover{
    background-color: #000;
}
.deselected{
    height: 60px;
    color: #fffff5;
    background-color: #000;
    border: none;
    text-align: center;
    font-size: 17px;
    padding: 20px 40px 20px 40px;
    display: inline-block;
    font-weight: 600;
    box-shadow: 12px 12px 19px 0 rgba(82.99999999999999, 82.99999999999999, 82.99999999999999, 0.25);
}
.deselected:hover{
    background-color: #ff6364;
}
.image{
    width: 20%;
}
.image{
    width: 28%;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    
}

.img1-cont{
    height: 230px;
    width: 30%;
    flex: 1;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.spotlight-img1{
    background-size: cover;
    height: auto;
    width: 100px;
    object-fit: cover;
    margin-top: -10px;
    mix-blend-mode: multiply;
}

.img-heading1{
    font-size: 1.4em;
    font-weight: 600;
    padding: 30px;
}

.hanging-light-img2{
    background-size: cover;
    height: auto;
    width: 90px;
    object-fit: cover;
    margin-top: -10px;
}

.img-heading2{
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 30px;
}

.wooden-clock-img3{
    background-size: cover;
    height: auto;
    width: 90px;
    object-fit: cover;
    margin-top: -10px;
}

.img-heading3{
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 30px;
}

.stars{
    background-size: cover;
    height: auto;
    width: 90%;
    object-fit: cover;
    padding: 5px;
}

.arrow{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff6364;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-arrow-right{
    color: #fff;
    font-weight: bold;
    font-size: 1.9em;
}
